<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ObjectDetection.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2511E51CC2F11EACBBD518731FFE8B89B570D520</string>
				<key>dateExpires</key>
				<string>12/9/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LVU37QMQH4.org.tensorflow.GolfBallDetectionLee</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LVU37QMQH4</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>LVU37QMQH4.org.tensorflow.GolfBallDetectionLee</string>
				</array>
			</dict>
			<key>name</key>
			<string>ObjectDetection.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>deec4aaf-6e4c-449f-bbed-89ae076afc69</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.tensorflow.GolfBallDetectionLee</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LVU37QMQH4</string>
				<key>name</key>
				<string>Lee Francisco</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
